# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [6]:
chipo = pd.read_csv('../../../../data/chipotle.tsv', sep='\t')
chipo.head(1)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

### Step 4. How many products cost more than $10.00?

In [7]:
chipo['item_price'] = chipo['item_price'].apply(lambda p: np.float(p[1:]))

In [17]:
c = chipo.drop_duplicates(['item_name', 'quantity'])
c = c[c['quantity']==1]
c[c['item_price']>10]['item_name'].nunique()

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [22]:
c = chipo.drop_duplicates(['item_name', 'quantity'])
c = c[c['quantity']==1]
c = c[['item_name', 'item_price']].sort_values(['item_price'], ascending=False)
c.head(10)

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75
39            Barbacoa Bowl       11.75
738       Veggie Soft Tacos       11.25
186       Veggie Salad Bowl       11.25
62              Veggie Bowl       11.25
57           Veggie Burrito       11.25

### Step 6. Sort by the name of the item

In [23]:
chipo.sort_values(['item_name']).head()

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [26]:
chipo.sort_values(['item_price'], ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [27]:
chipo[chipo['item_name']=='Veggie Salad Bowl'].shape

(18, 5)

### Step 9. How many times people orderd more than one Canned Soda?

In [28]:
chipo[(chipo['item_name']=='Canned Soda') & (chipo['quantity']>1)].shape

(20, 5)